<html>

<head>
    <title>
       Weather App about
    </title>
    <style>
        body{

    font-style: italic;
color: rgb(27, 25, 51);
background-color: rgb(228, 228, 233);
margin: auto;
width: 50%;
padding: 10px;
background-image: url('/img/b.jpg')


}
    </style>
</head>
<body>
    {{>nav}}
   <h2>Our Vision</h2>

 A Centre of Excellence in weather and climate related services

<h2>Our Mission</h2>

To provide services pertaining to Meteorology, Aeronautical Meteorology, Ocean Meteorology, Hydro Meteorology, Agricultural Meteorology, Climatology and Astronomy to government agencies, private sector and the general public in keeping with national interest and international standards.

<h2>Our Objectives</h2>

<li> objectives of the Department are</li>
<li>To observe and collate weather elements in conformity with the World Meteorological Organization (WMO) standards, and maintenance of climatological databases.</li>
<li>To provide weather and climatological services as the national authority.</li>
<li>To issue early warnings and advisories on weather related events and Tsunami.</li>
<li>To provide meteorological services to national and international aviation in accordance with the technical regulations stipulated by World Meteorological Organization (WMO) and International Civil Aviation Organization (ICAO).</li>

</body>
</html>